doctype html
html
    head
        style(type='text/css').
           body {
                padding: 20px;
            }
            th {
                border-bottom: 1px grey solid;
            }

        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lux/bootstrap.min.css")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/static/node_modules/caramel/dist/css/caramel.min.css")
        script(src="https://use.fontawesome.com/releases/v5.0.9/js/all.js",integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl",crossorigin="anonymous")
        
        title #{title}
    body
        header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='/todos') TODO LIST
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor03', aria-controls='navbarColor03', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarColor03.collapse.navbar-collapse
            div(class="row")
                div(class="box col-4")
                div(class="box col-4")
                    div(class="wrapper")
                        form(method='post' action='/todos/'+todo.id+'?_method=PATCH')
                            h4(class="champ") Todo n° #{todo.id}
                            div(class="champ")
                                label Message :
                                input(id="message" name="message" type="text" value= todo.message)
                            div(class="champ" style="margin-top: 1em;")
                                label Complétion :
                                select(id="select" name="completion")
                                    option done
                                    option undone
                            br
                            div(class="btn-wrapper")
                                button(class="btn success") Enregistrer les modifications
                div(class="box col-4")